:root  {
    --color:black;
    --background-color: antiquewhite;
    --dark-color: #7C032B;
    --dark-second-color: #FFDAB9;
    --light-color: #FAEBD7;
    --light-second-color: black;    
}